
*.user
KLog.pro.user*
src/.qmake.stash
src/build
src/release
src/Makefile*
src/object_*
.DS_Store
KLog.app
*.qm

*.autosave
*.sh~
*.dmg
src/macOSDeploy.sh
src/klog_resource.rc
*.pro~
*.stash
*.o
tests/tst_mainwindow/macOSDeploy.sh
tests/tst_mainwindow/Makefile
*.tmp
tests/tst_mainwindow/moc_predefs.h
tests/tst_mainwindow/target_wrapper.sh
*.moc
tests/tst_mainwindow/moc_*.cpp
*.exe
*.idx
.qtc_clangd/compile_commands.json
