
*.user
KLog.pro.user*
src/.qmake.stash
src/build
src/release
src/Makefile*
src/object_*
.DS_Store
KLog.app
*.qm
.qtc_clangd
*.autosave
*.sh~
*.dmg
src/macOSDeploy.sh
src/klog_resource.rc
*.pro~
*.stash
*.o
tests/tst_mainwindow/macOSDeploy.sh
tests/tst_mainwindow/Makefile
*.tmp
tests/tst_mainwindow/moc_predefs.h
tests/tst_mainwindow/target_wrapper.sh
*.moc
tests/tst_mainwindow/moc_*.cpp
*.exe
*.idx
.qtc_clangd/compile_commands.json
Makefile
tests/tst_adif/moc_adif.cpp
tests/tst_adif/moc_wrapper.sh
tests/tst_adif/rcc_wrapper.sh
tests/tst_adif/target_wrapper.sh
tests/tst_adif/tst_adif
tests/tst_adif/uic_wrapper.sh
tests/tst_database/moc_adif.cpp
tests/tst_database/moc_database.cpp
tests/tst_database/moc_dataproxy_sqlite.cpp
tests/tst_database/moc_db_adif_primary_subdvisions_data.cpp
tests/tst_database/moc_qso.cpp
tests/tst_database/moc_queryexecutor.cpp
tests/tst_database/moc_utilities.cpp
tests/tst_database/moc_world.cpp
tests/tst_database/moc_wrapper.sh
tests/tst_database/rcc_wrapper.sh
tests/tst_database/target_wrapper.sh
tests/tst_database/tst_database
tests/tst_database/tst_database.cpp
tests/tst_database/uic_wrapper.sh
tests/tst_dataproxy/moc_adif.cpp
tests/tst_dataproxy/moc_database.cpp
tests/tst_dataproxy/moc_dataproxy_sqlite.cpp
tests/tst_dataproxy/moc_db_adif_primary_subdvisions_data.cpp
tests/tst_dataproxy/moc_qso.cpp
tests/tst_dataproxy/moc_queryexecutor.cpp
tests/tst_dataproxy/moc_utilities.cpp
tests/tst_dataproxy/moc_wrapper.sh
tests/tst_dataproxy/rcc_wrapper.sh
tests/tst_dataproxy/target_wrapper.sh
tests/tst_dataproxy/tst_dataproxy
tests/tst_dataproxy/uic_wrapper.sh
tests/tst_dxspot/moc_dxspot.cpp
tests/tst_dxspot/moc_frequency.cpp
tests/tst_dxspot/moc_wrapper.sh
tests/tst_dxspot/rcc_wrapper.sh
tests/tst_dxspot/target_wrapper.sh
tests/tst_dxspot/tst_dxspot
tests/tst_frequency/moc_frequency.cpp
tests/tst_frequency/moc_wrapper.sh
tests/tst_frequency/rcc_wrapper.sh
tests/tst_frequency/target_wrapper.sh
tests/tst_frequency/tst_frequency
tests/tst_locator/moc_wrapper.sh
tests/tst_locator/rcc_wrapper.sh
tests/tst_locator/target_wrapper.sh
tests/tst_locator/tst_locator
tests/tst_locator/uic_wrapper.sh
tests/tst_main/moc_wrapper.sh
tests/tst_main/rcc_wrapper.sh
tests/tst_main/target_wrapper.sh
tests/tst_main/uic_wrapper.sh
tests/tst_mainqsoentrywidget/moc_adif.cpp
tests/tst_mainqsoentrywidget/moc_database.cpp
tests/tst_mainqsoentrywidget/moc_dataproxy_sqlite.cpp
tests/tst_mainqsoentrywidget/moc_db_adif_primary_subdvisions_data.cpp
tests/tst_mainqsoentrywidget/moc_mainqsoentrywidget.cpp
tests/tst_mainqsoentrywidget/moc_qso.cpp
tests/tst_mainqsoentrywidget/moc_queryexecutor.cpp
tests/tst_mainqsoentrywidget/moc_utilities.cpp
tests/tst_mainqsoentrywidget/moc_wrapper.sh
tests/tst_mainqsoentrywidget/rcc_wrapper.sh
tests/tst_mainqsoentrywidget/target_wrapper.sh
tests/tst_mainqsoentrywidget/tst_mainqsoentrywidget
tests/tst_mainqsoentrywidget/uic_wrapper.sh
tests/tst_mainwindow/moc_wrapper.sh
tests/tst_mainwindow/qrc_klog.cpp
tests/tst_mainwindow/rcc_wrapper.sh
tests/tst_mainwindow/tst_mainwindow
tests/tst_mainwindow/uic_wrapper.sh
tests/tst_mainwindowinputqso/moc_adif.cpp
tests/tst_mainwindowinputqso/moc_database.cpp
tests/tst_mainwindowinputqso/moc_dataproxy_sqlite.cpp
tests/tst_mainwindowinputqso/moc_db_adif_primary_subdvisions_data.cpp
tests/tst_mainwindowinputqso/moc_mainwindowinputqso.cpp
tests/tst_mainwindowinputqso/moc_qso.cpp
tests/tst_mainwindowinputqso/moc_queryexecutor.cpp
tests/tst_mainwindowinputqso/moc_utilities.cpp
tests/tst_mainwindowinputqso/moc_wrapper.sh
tests/tst_mainwindowinputqso/rcc_wrapper.sh
tests/tst_mainwindowinputqso/target_wrapper.sh
tests/tst_mainwindowinputqso/tst_mainwindowinputqso
tests/tst_mainwindowinputqso/uic_wrapper.sh
tests/tst_mainwindowsattab/moc_adif.cpp
tests/tst_mainwindowsattab/moc_database.cpp
tests/tst_mainwindowsattab/moc_dataproxy_sqlite.cpp
tests/tst_mainwindowsattab/moc_db_adif_primary_subdvisions_data.cpp
tests/tst_mainwindowsattab/moc_mainwindowsattab.cpp
tests/tst_mainwindowsattab/moc_qso.cpp
tests/tst_mainwindowsattab/moc_queryexecutor.cpp
tests/tst_mainwindowsattab/moc_utilities.cpp
tests/tst_mainwindowsattab/moc_wrapper.sh
tests/tst_mainwindowsattab/rcc_wrapper.sh
tests/tst_mainwindowsattab/target_wrapper.sh
tests/tst_mainwindowsattab/tst_mainwindowsattab
tests/tst_mainwindowsattab/uic_wrapper.sh
tests/tst_qso/moc_adif.cpp
tests/tst_qso/moc_qso.cpp
tests/tst_qso/moc_utilities.cpp
tests/tst_qso/moc_wrapper.sh
tests/tst_qso/rcc_wrapper.sh
tests/tst_qso/target_wrapper.sh
tests/tst_qso/tst_qso
tests/tst_qso/uic_wrapper.sh
tests/tst_setuphamlibnetworkwidget/moc_hamlibnetworkconfigwidget.cpp
tests/tst_setuphamlibnetworkwidget/moc_wrapper.sh
tests/tst_setuphamlibnetworkwidget/rcc_wrapper.sh
tests/tst_setuphamlibnetworkwidget/target_wrapper.sh
tests/tst_setuphamlibnetworkwidget/tst_setuphamlibnetworkwidget
tests/tst_setuphamlibnetworkwidget/uic_wrapper.sh
tests/tst_setuphamlibserialwidget/moc_hamlibserialconfigwidget.cpp
tests/tst_setuphamlibserialwidget/moc_wrapper.sh
tests/tst_setuphamlibserialwidget/rcc_wrapper.sh
tests/tst_setuphamlibserialwidget/target_wrapper.sh
tests/tst_setuphamlibserialwidget/tst_setuphamlibserialwidget
tests/tst_setuphamlibserialwidget/uic_wrapper.sh
tests/tst_setuppageelog/moc_adif.cpp
tests/tst_setuppageelog/moc_database.cpp
tests/tst_setuppageelog/moc_dataproxy_sqlite.cpp
tests/tst_setuppageelog/moc_db_adif_primary_subdvisions_data.cpp
tests/tst_setuppageelog/moc_qso.cpp
tests/tst_setuppageelog/moc_queryexecutor.cpp
tests/tst_setuppageelog/moc_setuppageelog.cpp
tests/tst_setuppageelog/moc_utilities.cpp
tests/tst_setuppageelog/moc_wrapper.sh
tests/tst_setuppageelog/rcc_wrapper.sh
tests/tst_setuppageelog/target_wrapper.sh
tests/tst_setuppageelog/tst_setuppageelog
tests/tst_setuppageelog/uic_wrapper.sh
tests/tst_utilities/moc_adif.cpp
tests/tst_utilities/moc_database.cpp
tests/tst_utilities/moc_dataproxy_sqlite.cpp
tests/tst_utilities/moc_db_adif_primary_subdvisions_data.cpp
tests/tst_utilities/moc_qso.cpp
tests/tst_utilities/moc_queryexecutor.cpp
tests/tst_utilities/moc_utilities.cpp
tests/tst_utilities/moc_wrapper.sh
tests/tst_utilities/rcc_wrapper.sh
tests/tst_utilities/target_wrapper.sh
tests/tst_utilities/tst_utilities
tests/tst_utilities/uic_wrapper.sh
tests/tst_wizard/moc_adif.cpp
tests/tst_wizard/moc_downloadcty.cpp
tests/tst_wizard/moc_startwizard.cpp
tests/tst_wizard/moc_utilities.cpp
tests/tst_wizard/moc_wrapper.sh
tests/tst_wizard/rcc_wrapper.sh
tests/tst_wizard/target_wrapper.sh
tests/tst_wizard/tst_wizard
tests/tst_wizard/uic_wrapper.sh
tests/tst_world/moc_adif.cpp
tests/tst_world/moc_database.cpp
tests/tst_world/moc_dataproxy_sqlite.cpp
tests/tst_world/moc_db_adif_primary_subdvisions_data.cpp
tests/tst_world/moc_qso.cpp
tests/tst_world/moc_queryexecutor.cpp
tests/tst_world/moc_utilities.cpp
tests/tst_world/moc_world.cpp
tests/tst_world/moc_wrapper.sh
tests/tst_world/rcc_wrapper.sh
tests/tst_world/target_wrapper.sh
tests/tst_world/tst_world
tests/tst_world/uic_wrapper.sh
tests/tst_mainwindowinputothers/moc_adif.cpp
tests/tst_mainwindowinputothers/moc_database.cpp
tests/tst_mainwindowinputothers/moc_dataproxy_sqlite.cpp
tests/tst_mainwindowinputothers/moc_db_adif_primary_subdvisions_data.cpp
tests/tst_mainwindowinputothers/moc_mainwindowinputothers.cpp
tests/tst_mainwindowinputothers/moc_predefs.h
tests/tst_mainwindowinputothers/moc_qso.cpp
tests/tst_mainwindowinputothers/moc_queryexecutor.cpp
tests/tst_mainwindowinputothers/moc_utilities.cpp
tests/tst_mainwindowinputothers/target_wrapper.sh
tests/tst_dataproxy/moc_predefs.h
tests/tst_mainwindowinputothers/tst_mainwindowinputothers
tests/tst_mainwindowinputothers/tst_mainwindowinputothers
tests/tst_mainwindowinputqso/moc_predefs.h
tests/tst_utilities/moc_predefs.h
