language: cpp
branches:
  only:
    - master
matrix:
  include:
  - os: linux
    env:
      - QT_CI_PACKAGES=qt.qt5.5152.gcc_64,qt.qt5.5152.qtwebengine PATH="$TRAVIS_BUILD_DIR/Qt/5.15.2/gcc_64/bin:${PATH}"
    arch: amd64
    sudo: required
    dist: focal
    addons:
      apt:
        sources:
        - sourceline: 'ppa:beineri/opt-qt-5.15.2-focal'
        packages:
        - qt515base
    before_install:
      - sudo apt-get update
      - sudo apt-get -y install qtbase5-dev libsqlite3-dev
      - sudo apt-get -y install libhamlib++-dev libqt5serialport5-dev libqt5charts5-dev qt5-default qttools5-dev-tools
    compiler:
      - gcc
    script:
      - git clone https://github.com/benlau/qtci.git
      - source qtci/path.env
      - install-qt 5.15.2
      - qmake KLog.pro
      - make
