version: build{build}

image:
  - Ubuntu2204

install:
  - sh: sudo apt-get -qq update
  - sh: sudo apt install -qqy make qmake6 qt6-base-dev qt6-declarative-dev libhamlib-dev build-essential libgl1-mesa-dev libqt6serialport6-dev qt6-positioning-dev libqt6charts6-dev qt6-l10n-tools
build_script:
  - qmake6 KLog.pro
  - make
