[Desktop Entry]
Name=KLog
GenericName=Ham Radio Logger
Comment=Amateur radio logging program
Exec=klog
Icon=klog
Terminal=false
Type=Application
Categories=Utility;HamRadio;
Keywords=ham;radio;amateur;log;qso;adif;
