name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    permissions:
      actions: read
      contents: read
      
    runs-on: ubuntu-25.04
    
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --fix-missing \
            build-essential cmake ninja-build \
            qt6-base-dev qt6-base-dev-tools \
            qt6-declarative-dev \
            libqt6serialport6-dev \
            qt6-positioning-dev \
            qt6-location \
            libqt6charts6-dev \
            libhamlib-dev \
            libgl1-mesa-dev \
            libxkbcommon-dev

      - name: Configure (CMake)
        run: |
          cmake -S . -B build -G "Ninja" -DCMAKE_BUILD_TYPE=Release

      - name: Build (CMake)
        run: |
          cmake --build build --parallel

      # TESTING
      - name: Run Tests
        working-directory: build
        # --output-on-failure prints the error log only if a test fails
        run: ctest --output-on-failure
